.mainContainer {
  padding: 43px 0;
  background-color: #3b3c3d;
  color: #ffffff;
}

.navContent {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 64px;
}

.marketName {
  font-size: 20px;
  font-weight: 900;
}

.links span {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.activeLink span {
  opacity: 100%;
}

.inactiveLink span {
  opacity: 50%;
}
